/* body { 
    background: darkblue;
} */
#test1 {
  display: flex;
  background: burlywood;
  flex-direction: column;
  margin: auto;
  padding: 20rem;
  align-items: center;
}

#aa {
  background: skyblue;
  width: 500px;
  height: 100px;
  font-size: 1rem;
}

#bb {
  background: orange;
}

#cc {
  background: yellow;
}

#tt {
  padding: 10px;

  background: lawngreen;
  display: flex;
  justify-content: end;
}

.test1 {
  background: orange;
  padding: 3px;
}
