/* body { 
    background: darkblue;
} */
#test1 {
  display: flex;
  background: burlywood;
  flex-direction: column;
  margin: auto;
  padding: 100px;
}

#aa {
  background: skyblue;
}

#bb {
  background: orange;
}

#cc {
  background: yellow;
}

#tt {
  padding: 10px;

  background: lawngreen;
  display: flex;
  justify-content: end;
}

.test1 {
  background: orange;
  padding: 3px;
}
