body {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 100px;
  border: solid 1px grey;
  text-align: start;
  padding-left: 20px;
  padding-top: 10px;
}

input {
  width: 350px;
}

p {
  font-weight: 500;
  color: gray;
}

div {
  text-align: center;
}
button {
  background-color: darkgrey;
  border: 0;
  padding: 5px 10px;
  border-radius: 10%;
  color: white;
  font-weight: bold;
}
button:last-child {
  background-color: mediumturquoise;
}
